---
---

@import "minima";

.site-header {
  background-image: url("/assets/header-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 180px;
}
